.header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;

    &__item {
      margin: 15px;

      &__future {
        a {
          color: white;
        }
      }
    }
  }

  &__mode {
    display: flex;
    width: 200px;
  }
}