.header {
  overflow: auto;
  height: 50px;

  &--header {
    @include flex-center;
    height: $height-header;

    @include pc {}

    @include sp {
      width: $width-header;
    }
  }

  &__list {
    @include flex-center;

    @include sp {
      width: $width-header;
      flex-direction: row;
    }

    &--old {
      &__item {
        display: flex;
        margin: 10px;
        font-size: $font-size-header-item;

        &::after {
          content: "|";
          margin-left: 20px;
        }
      }

      &__mode {
        font-size: $font-size-header-item;
      }
    }

    &--future {
      height: $height-header;

      @include pc {
        /deep/ .vs-navbar {
          @include flex-center;
        }
      }

      &__mode {
        font-size: $font-size-header-item;

        /deep/ .material-icons {
          font-size: $font-size-header-item;
        }
      }
    }
  }
}
