.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &--header {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    width: 95%;

    &__item {
      display: flex;
      margin: 10px;

      &::after {
        content: "|";
        margin-left: 20px;
      }
    }

    &__future {
      &__title {
        &__text {
          color: black;
        }
      }
    }
  }
}
