.skill {

  &--header {
    margin: 10px;
  }

  &--list {
    @include flex-row;
    padding: 20px;

    /deep/ .con-vs-card {
      height: 90%;
    }

    /deep/ .vs-card--content {
      @include flex-center;
      flex-direction: column;
      height: 70%;
    }
  }
}

.card {
  &--header {
    @include flex-center;
    flex-direction: row;
  }
}
