.skill {

  &--header {
    margin: 10px;
  }

  &--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;

    /deep/ .con-vs-card {
      height: 90%;
    }

    /deep/ .vs-card--content {
      display: flex;
      flex-direction: column;
      height: 70%;
      justify-content: center;
    }
  }
}

.card {
  &--header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
