.image {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;

    &__small {
      margin: 0 20px;
    }
  }

  &__main {
    object-fit: scale-down;
    width: 55px;
    height: 40px;

    &__small {
      width: 45px;
      height: 35px;
    }

    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}
