$widthPC: 1024px;
$widthTab: 560px;
$widthSP: 480px;

@mixin pc {
  @media (min-width: $widthPC) {
    @content;
  }
}

@mixin tab {
  @media (min-width: $widthSP) and (max-width: $widthPC) {
    @content;
  }
}

@mixin sp {
  @media (max-width: $widthSP) {
    @content;
  }
}
