// @import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Rajdhani');

.default {

  &--header {}

  &--main {
    font-family: 'Rajdhani', 'Noto Serif JP', sans-serif;
    display: flex;
    background-color: aliceblue;
    margin: 2.5%;
    padding: 2.5%;
    border: solid 1px blue;
  }


  &--footer {}

}
