@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Rajdhani');

.default {

  &__header {
    margin-top: 10px;
  }

  &__main {
    @include flex-center;
    font-family: 'Rajdhani', 'Noto Serif JP', sans-serif;
    margin: 2.5%;
    padding: 2.5%;

    &__contents {
      width: 100%;
    }
  }

  &__footer {
    margin: 30px 0;
  }
}
