// @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Tangerine')

article {
  padding: 70px;
}

.home {
  @include flex-center;

  &__title {

    &--old {

      &__text {
        font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        display: block;
        font-weight: 300;
        font-size: 50px;
        color: #35495e;
        letter-spacing: 1px;
      }

      &__description {
        font-family: 'Tangeline', cursive
      }
    }

    &--future {

      &__text {
        font-family: 'Courier New', Courier, monospace
      }

      &__description {
        font-family: 'Tangeline', cursive
      }
    }
  }
}

// body {
//   background-image: url("~assets/img/bg2.jpeg");
//   background-repeat: repeat;
// }