.skill--old {
  &--header {
    margin: 10px;
  }

  &--list {
    @include flex-row;
    border: solid 1px black;
    padding: 20px;

    &__item {

      &--header {
        @include flex-center;
        flex-direction: row;
      }

      &--list {
        list-style-type: disc;
        &__item {
          
        }
      }
    }
  }
}