.skill--old {
  &__header {
    margin: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 20px;

    &__head {
      margin-bottom: 20px;
    }

    &__body {
      &__item {
        padding-right: 20px;
      }
    }

  }
}