$animationWidth: 19px;
$animationHeight: 100%;
$animationBorderRadius: 25%;
$animationBorder: solid 3px black;

.text--frame {
  margin: 10px;

  &__bg {
    position: relative;
    transition: all .5s cubic-bezier(.86, 0, .07, 1);

    &__active {
      padding: 0 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: $animationWidth;
      height: $animationHeight;
      border-radius: $animationBorderRadius;
      border-left: $animationBorder;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: $animationWidth;
      height: $animationHeight;
      border-radius: $animationBorderRadius;
      border-right: $animationBorder;
    }
  }
}
